@model IEnumerable<IO_3_2.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("~/Views/Shared/_Contact.cshtml",Model)
